body {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #222222;
  background-color: #ffffff;
}

.A {
  color: lightcoral;
}

.ADV {
  color: lightblue;
}

.ADVPRO {
  color: lightgreen;
}

.ANUM {
  color: lightseagreen;
}

.APRO {
  color: lightsalmon;
}

.COM {
  color: darkblue;
}

.CONJ {
  color: darkgreen;
}

.INTJ {
  color: darkorange;
}

.NUM {
  color: darkcyan;
}

.PART {
  color: darkred;
}

.PR {
  color: darkorchid;
}

.S {
  color: royalblue;
}

.SPRO {
  color: teal;
}

.V {
  color: black;
}