{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-dynamic-require": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
